:root {
    --color-white: #FFFFFF;
    --color-primary: #309689;
    --color-primary-hover: #40AA99;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

* {
    box-sizing: border-box;
    -webkit-font-smoothng: antialiased;
    -moz-osz-font-smoothng: grayscale;
}