package layout

import "fmt"

css headerClass(percent int) {
	background: { "#222222" };
	width: { fmt.Sprintf("%d%%", percent) };
	text-alight: { "center" };
}

templ Header() {
	<div class={ headerClass(100) }>
        @Menu()
		{ children... }
	</div>
}
